{% extends "base.html" %}
{% load my_filters %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block metategi %}
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
{% endblock %}
{% block content %}

    <div class="container">
        <h2 class="mt-80">Готовые решения по полам<br> для {{ solutions_list.count|look_title:'видов' }} предприятий
        </h2>
        <div class="mt-5 main-banner">
            <img src="{% static 'photo/banner-1.png' %}" class="img-fluid">
        </div>
        <div class="offers">
            <h2>Вот список наших готовых решений</h2>
            <div class="row">
                {% for solution in solutions_list %}
                    <div class="col-lg-6 mt-4">
                        <div class="offer-item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="d-flex flex-column h-100">
                                        <a href="{% url 'ready_solution' solution.slug %}"
                                           class="offer-title text-center text-sm-left">{{ solution.title }}</a>
                                        <div class="sf-content mt-auto text-center text-sm-left">{{ solution.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 text-center text-sm-right mt-3 mt-sm-0">
                                    {{ solution.images_png|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'contact_us.html' %}

{% endblock %}
